<!-- 
  Filename: index.ejs
  Student's Name: Justin Amaral
  StudentID: 301230988
  Date: 28-05-2023
-->

<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/header.ejs', {page: 'home'}) %>
  <main>
    <!-- Hero section -->
    <div class="main-hero col-xxl-8 px-5 py-5">
      <div class="container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="hero-img col-10 col-sm-8 col-lg-6">
            <img src="/images/pic.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="600" loading="lazy">
          </div>
          <div class="p-text col-lg-6">
            <h1 class="dark-color mb-3">Hi, I&apos;m Justin Amaral a software engineer</h1>
            <p>Empowering individuals and organizations through innovative software solutions, by leveraging my expertise in engineering and unwavering commitment to excellence, to consistently deliver user-centric, scalable, and efficient technologies.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="/about" type="button" class="btn btn-primary btn-lg px-4 me-md-2">More About Me</a>
              <a href="/docs/justin-amaral-resume.pdf" class="btn btn-outline-secondary btn-lg px-4" target="_blank">My Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Me section -->
    <section class="px-4 py-5 section about-section bg-light" id="about">
      <div class="container">
        <div class="row align-items-center gx-5">
          <div class="col-lg-6 order-lg-1 order-2 d-flex justify-content-center">
            <div class="about-avatar">
              <img src="/images/avatar.png" title="" alt="" />
            </div>
          </div>
          <div class="col-lg-6 order-lg-2 order-1 d-flex flex-column align-items-center">
            <div class="p-text about-text go-to text-center text-lg-start">
              <h3 class="dark-color">About Me</h3>
              <h6 class="theme-color lead">
                A software engineer based in Toronto, Ontario
              </h6>
              <p>
                Justin Amaral is fueled by his passion for all things tech. He is a current student studying software engineering but has always dabbled in and loved technology. Expanding his skill sets he often finds him self learning and trying new things. Currently Justin works with multiple YouTube personalities with their content creation while also working full-time and tackling school full-time as well.
              </p>
            </div>
          </div>
        </div>
        <div class="counter mt-4">
          <div class="row">
            <div class="col-6 col-lg-3">
              <div class="count-data text-center">
                <h6 class="count h2" data-to="25" data-speed="25">25</h6>
                <p class="m-0px font-w-600">Happy Clients</p>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="count-data text-center">
                <h6 class="count h2" data-to="50" data-speed="50">50</h6>
                <p class="m-0px font-w-600">Project Completed</p>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="count-data text-center">
                <h6 class="count h2" data-to="12" data-speed="12">12</h6>
                <p class="m-0px font-w-600">Technology Talks</p>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="count-data text-center">
                <h6 class="count h2" data-to="4" data-speed="4">04</h6>
                <p class="m-0px font-w-600">Awards</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- My Services section -->
    <section class="px-5 py-5 services">
      <div class="container p-text">
        <div class="text-center mb-4">
          <h3 class="dark-color">My Services</h3>
        </div>

        <div class="row gy-4">
          <div class="col-md-4">
            <div class="service-box">
              <div class="icon">
                <i class="bi bi-pencil-fill"></i>
              </div>
              <h4>Mobile Development</h4>
              <p>
                I offer Mobile Development, creating tailored Android and iOS apps with seamless performance.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="icon">
                <i class="bi bi-laptop"></i>
              </div>
              <h4>Web Development</h4>
              <p class="font-w-600">
                My Web Development services deliver responsive websites for an astounding user experience.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="icon">
                <i class="bi bi-people-fill"></i>
              </div>
              <h4>UI/UX Design</h4>
              <p class="font-w-600">
                Additionally, my UI/UX Design expertise ensures visually captivating and user-friendly digital products.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Projects section -->
    <section id="projects" class="projects bg-light px-5 py-5">
      <div class="container">

        <div class="text-center mb-4">
          <h3 class="dark-color">My Projects</h3>
        </div>
        <div class="row gy-4">
          <div class="col-md-4 mb-4">
            <div class="project-box">
              <img src="/images/boardgame-shop.PNG" class="project-img" alt="Project title" />
              <div class="project-content">
                <h5 class="project-title">Board Game Shop</h5>
                <p class="project-text">
                  Shop for your favorite board games online with ratings posted on each game.
                </p>
                <a href="#" class="btn btn-primary">View Project</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="project-box">
              <img src="/images/design-project.PNG" class="project-img" alt="Design Project" />
              <div class="project-content">
                <h5 class="project-title">Design Project</h5>
                <p class="project-text">
                  Learn more about minimalist design through this webpage here
                </p>
                <a href="#" class="btn btn-primary">View Project</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="project-box">
              <img src="/images/survey-project.PNG" class="project-img" alt="Project title" />
              <div class="project-content">
                <h5 class="project-title">Survey Project</h5>
                <p class="project-text">
                  Take a survey on how you&apos;re schooling is going and rate your experience.
                </p>
                <a href="#" class="btn btn-primary">View Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Me section -->
    <section id="contact-me" class="contact-me px-4 py-5">
      <div class="container">
        <div class="text-center mb-4">
          <h3 class="dark-color">Contact Me</h3>
        </div>
        <div class="row gy-4">
          <div class="col-lg-8 offset-lg-2">
            <form class="contact-form p-4 pt-5 pb-5 bg-light rounded-3" method="post" action="/contact">
              <div class="row">
                <div class="mb-3 col-lg-6">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Your Name" required />
                </div>
                <div class="mb-3 col-lg-6">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Your Email" required />
                </div>
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Your Message" required></textarea>
              </div>
              <div class="d-flex justify-content-between">
                <div class="social-icons">
                  <a href="#" class="text-decoration-none"><i class="bi bi-facebook me-3"></i></a>
                  <a href="#" class="text-decoration-none"><i class="bi bi-twitter me-3"></i></a>
                  <a href="#" class="text-decoration-none"><i class="bi bi-linkedin"></i></a>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/scripts.ejs') %>
</body>

</html>